body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    padding: 50px;
    padding-top: 0%;
}

header {
    background: #ebebeb;
    text-align: center;
}

nav {
    text-align: center;
    background: #ebebeb;

}

aside {
    float: left;
    display: block;
    width: 405px;
    text-align: center;
    background: #ebebeb;
    margin: 10px;
    max-height: 250px;
    height: 100vh;

}

section {
    float: left;
    width: 495px;
    text-align: center;
    background: #ebebeb;
    margin: 10px;
    max-height: 250px;
    height: 100vh;

}

article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    width: 90%;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    /* width: 90%; */
}

p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    /* width: 90%; */
}

footer {
    background: #ebebeb;
    text-align: center;
    clear: both;
}