body {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 100px;
    margin-top: 0%;
    padding: 50px;
    padding-top: 0%;
}

header {
    background: #ebebeb;
    text-align: center;
    height: 25px;
}

nav {
    background: #ebebeb;
    text-align: center;
    height: 25px;

}

aside {
    float: left;
    display: block;
    text-align: center;
    width: 445px;
    background: #ebebeb;
    margin: 10px;
    margin-right: 0%;
    max-height: 250px;
    height: 100vh;

}

section {
    float: left;
    width: 495px;
    text-align: center;
    background: #ebebeb;
    margin: 10px;
    margin-left: 0%;
    max-height: 250px;
    height: 100vh;

}

article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    width: 90%;
    height: 65%;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

article h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    height: 50px;
    margin-top: 0%;
    margin: 10px;
    /* width: 90%; */
}

article p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    height: 50px;
    margin-top: 0%;
    margin: 10px;
    /* width: 90%; */
}

footer {
    background: #ebebeb;
    text-align: center;
    clear: both;
    height: 25px;
}